<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ivanity.espah" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.ivanity.espah.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.ivanity.espah.Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.SignUp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.mainPage"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.PlayMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.TakePhotoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.GuessActivity"
            android:label="@string/title_activity_guess" >
        </activity>
        <activity
            android:name="me.ivanity.espah.OutOfPictures"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="me.ivanity.espah.OutOfQuestions"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
